body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

.container {
  background-image: linear-gradient(to left, rgba(173, 216, 230, 0.4), rgba(110, 241, 198, 0.363));
  border-radius: 1em;
  min-height: 400px;
}

#artwork {
  border-radius: 1em;
  max-height: 300px;
  margin: auto;
}